PORT=8090

AWS_S3_REGION=aws-region
AWS_S3_BUCKET_NAME=bucket-name

MONGO_CONNECT=AQUI+LLAVE+CONEXION

JWT_SECRET_KEY=secret-key
JWT_EXPIRE_TIME=formato_en_https://github.com/vercel/ms

AUTH_JWT_SECRET=3b6a9bf3a63c293ec22678a8d452959e47f4948c78329d109986fddddeaaab97
AUTH_JWT_EXPIRE_TIME=1d

GOOGLE_ID_CLIENT=
GOOGLE_SECRET_CLIENT=
